airflow/.env
airflow/logs/
airflow/scripts/configuration.conf
notebooks/dags_tests.ipynb
.vscode/
.vscode/settings.json
airflow/dags/__pycache__/
airflow/dags/__pycache__/pokebase_to_s3.cpython-310.pyc

# Default .gitignore content added by dbt Cloud
target/
dbt_packages/
logs/
# end dbt Cloud content
dbt/profiles.yml

# Default .gitignore content from terraform
terraform/.terraform
terraform/.terraform.lock.hcl

dagster-project/dagster_project/__pycache__
prefect/flows/.env
terraform/terraform.tfstate
notebooks/dags_tests.ipynb
